{#
/**
 * @file quote_entity.html.twig
 * Default theme implementation to present Quote entity data.
 *
 * This template is used when viewing Quote entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_quote_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('quote_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
